eShop/.vs/eShop/config
eShop/.vs/eShop/DesignTimeBuild
eShop/.vs/eShop/FileContentIndex
eShop/.vs/eShop/v17
eShop/BusinessLayer/bin
eShop/BusinessLayer/obj
eShop/BusinessLayerTests/bin
eShop/BusinessLayerTests/obj
eShop/Common/bin
eShop/Common/obj
eShop/DataLayer/bin
eShop/eShop/bin
eShop/DataLayer/obj
eShop/eShop/obj
